<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login.css" />
    <link rel="icon" href="https://i.pinimg.com/originals/da/c4/bf/dac4bfad9993da7eddada931ebedc3e1.jpg">
    <title>chat-backend</title>
  </head>
  <body>
    <form class="box" action="/api/auth/user/signup" method="post">
        <h1><%-msg%></h1>
      <h1>Login</h1> 
      <input type="text" name="fullName" placeholder="user name" required>
      <!-- <input type="text" name="email" placeholder="email" required > -->
      <input type="hidden" name="email" value="<%-email%>" >
      <input type="hidden" name="password" value="<%-password%>">
      <!-- <input type="password" name="password" placeholder="Password" required> -->
      <button type="submit" style="padding-right: 43% ;padding-left: 36%" > login</button>
    </form>
       
    <div class="lines">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
    
    
    
  </body>
<script>





  // const form = document.querySelector("form")
  // form.addEventListener("submit",(e)=>{
  //  e.preventDefault()
  // })
</script>

</html>




