<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/emailVerify.css" />
    <title>chat-backend</title>
  </head>
  <body>
    <div id="tsparticles"></div>
    <div class="login-box">
      <h1 id="msg1"><%-msg%></h1>
      <h2>email verify</h2> 
      <form  action= "/api/auth/user/verifyEmail" method="post">
        <div class="user-box">
        <input type="email" name="email"  />
        <label>email</label>
        </div>
        <div class="user-box">
        <input type="text" name="otp"  />
        <label>otp</label>
        </div>
<input type="hidden" name="password" value="<%-password%>" >
        <button id="submit" type="submit">verify email</button>
      </form>
    </div>
  </body>
</html>
