@url ('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Averia Serif Libre', cursive;
}
body,
html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #232323;
}
.container {
  display: flex;
  width: 900px;
  height: 85%;
  background-color: #ffffff;
}
.left {
  min-width: 350px;
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.left > .top {
  position: relative;
  min-height: 60px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 0.5px solid #76767637;
  display: flex;
  align-items: center;
}
.left > .top > .tub {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: 'Open Sans';
  width: 100%;
}
.left > .top > .tub > .username {
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left > .top > .card {
  position: absolute;
  right: 10px;
  border-radius: 50px;
  margin-top: 16%;
  margin-right: 83%;
  margin-bottom: -9%;
}
.left > .top > .card:hover {
  background-color: #0084ff;
  color: #ffffff;
}
.left > .top > .card > button:hover {
  text-transform: capitalize;
  background-color: #0084ff;
  color: #ffffff;
}
.left > .top > .card > button {
  background-color: #ffffff;
  border: 0.5px solid #76767637;
  padding: 4px 8px;
  border-radius: 50px;
  color: #090404;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 12px;
  border-radius: 12px;
  cursor: pointer;
}
.left > .top > .card > button:hover {
  color: #767676;
}
.left > .conversations {
  overflow-y: scroll;
  height: 100%;
  padding: 10px 0 0 0;
  overflow-x: hidden;
}

.conversations > .person {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  gap: 10px;
}
.conversations > .person:hover {
  background-color: #f0f0f0af;
  cursor: pointer;
}
.conversations > .person > .information {
  font-family: 'Open Sans';
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  overflow: hidden;
}
.conversations > .person > .information > .content {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  color: black;
}
.conversations > .person > .information > .content > .message {
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto';
  color: #000000;
}
.conversations > .person > .information > .content > .new {
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto';
  color: black;
  font-weight: 700;
}
.conversations > .person > .box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conversations > .person > .box > .image {
  width: clamp(50px, 50px, 50px);
  height: clamp(50px, 50px, 50px);
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conversations > .person > .box > .online {
  min-width: 1.1rem;
  min-height: 1.1rem;
  background-color: lawngreen;
  border-radius: 100%;
  position: absolute;
  border: 2px solid white;
  right: 0;
  bottom: 0;
}
.conversations > .person > .status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.conversations > .person > .status > .point {
  min-height: 8px;
  min-width: 8px;
  background-color: #0084ff;
  border-radius: 100%;
}
.right {
  border-left: 0.5px solid #76767637;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.right > .top {
  width: 100%;
  display: flex;
  min-height: 60px;
  align-items: center;
  padding: 0 20px;
  border-bottom: 0.5px solid #76767637;
  gap: 1rem;
}
.right > .top > .box {
  position: relative;
  min-width: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right > .top > .box > .image {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 100%;
  overflow: hidden;
}
.right > .top > .box > .online {
  position: absolute;
  min-width: 12px;
  min-height: 12px;
  background-color: lawngreen;
  border-radius: 100%;
  border: 2px solid #ffffff;
  right: 0;
  bottom: 0;
}
.right > .top > .information {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.right > .top > .information > .username,
.name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Open Sans';
  font-size: 25px;
  text-transform: capitalize;
}
.right > .top .information > .username {
  font-weight: 400;
  font-size: 25px;
  text-transform: capitalize;
}
.right > .top > .information > .username > a {
  color: black;
  text-decoration: none;
}
.right > .top .information > .name {
  font-weight: 400;
  font-size: 12px;
  color: #707070;
}
.right > .top > .options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right > .top > .options > button {
  border: none;
  background-color: transparent;
  padding: 0 10px;
  cursor: pointer;
}
.right > .middle {
  background-color: #ffffff;
  height: inherit;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
}
.messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2.5px;
}
.clip {
  display: flex;
}
.clip > .text {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  max-width: 50%;
  padding: 8px 16px;
  border-radius: 20px;
  word-break: break-word;
  white-space: pre-wrap;
  word-wrap: keep-all;
}
.received > .text {
  background-color: #fff;
  border: 0.5px solid #80808080;
}
.sent > .text {
  background-color: #dafdbc;
  color: #100f0f;
}
.sent {
  flex-direction: row-reverse;
}
.seen {
  text-align: right;
  padding: 0 10px;
  font-family: 'Open Sans';
  font-size: 0.75rem;
  font-weight: 400;
  color: gray;
}
.right > .bottom {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 28px;
}
.cup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 0.5px solid #7676765c;
  width: 100%;
  padding: 8px 20px;
  border-radius: 40px;
}
.cup > input {
  font-family: 'Open Sans';
  font-size: 0.85rem;
  font-weight: 400;
  border: none;
  outline: none;
  padding: 0 10px;
  width: 100%;
  resize: none;
  max-height: 100px;
}
.cup > .send {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  color: #0084ff;
  cursor: pointer;
}
.send:disabled {
  color: #0084ff8d;
}

h1 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  max-width: 50%;
  padding: 8px 16px;
  border-radius: 20px;
  word-break: break-word;
  white-space: pre-wrap;
  word-wrap: keep-all;
  /* background-color: #fafdff;
    color: rgb(7, 6, 6); */
}
@media only screen and (max-width: 950px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-height: 600px) {
  .container {
    height: 100%;
  }
}
body {
  font-family: 'Lato', sans-serif;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.add:hover {
  text-transform: uppercase;
  background-color: #000000;
}

/* .seeFriendRequest{
    text-decoration: none;
    color: #ffffff;
    padding-left: 8%;
  }

  .seeFriendRequest:hover{
    color: #ed5858;
    text-decoration: none;
  } */
.seeFriendRequestParent {
  height: 50%;
  width: 100%;
  /* background-color: blue; */
}

.clip > .text1 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  max-width: 50%;
  width: 26%;
  height: 58px;
  padding: 0px 16px;
  border-radius: 20px;
  word-break: break-word;
  text-align: center;
  white-space: pre-wrap;
}
.received > .text1 {
  background-color: #ffffff;
}
.sent > .text1 {
  background-color: #ffffff;
  color: rgb(6, 5, 5);
}

.userName1 {
  font-size: 26px;
  text-decoration: none;
  color: #000000;
}

.userName1:hover {
  text-decoration: none;
  opacity: 1;
}
#logOut:hover {
  border: 3px dotted #ff7a59;
  color: #ff7a59;
  background: #fff;
}

#circle {
  height: 25px;
  width: 25px;
  display: inline-block;
  border: 1px solid black;
  margin: auto;
  border-radius: 50%;
  background-color: #ff9f9f;
  padding-left: 5%;
  margin-left: 0%;
}
